.item-trash {
    background: #CFD8DC;
    border-radius: 12px;
    height: 200px;
    width: 150px;
    margin: 20px auto;
    border-color: #455A64;
    border-style: solid;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.item-trash:before,
.item-trash:after {
    content: '';
    position: absolute;
    width: 28px;
    top: 60px;
    background: #b0bec55c;
    border-radius: 50px;
    bottom: 40px;
    z-index: 1;
}

.item-trash:before {
    left: 25px;
}

.item-trash:after {
    right: 25px;
}

.item-trash .data-title {
    position: absolute;
    top: -10px;
    height: 30px;
    background: #798f9c;
    left: -10%;
    right: -10%;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    line-height: 26px;
    text-transform: uppercase;
    border-top: 3px solid #45596461;
    transition: 0.3s;
}

.item-trash:hover .data-title {
    transform: translateX(0px) translateY(-5px) rotate(7deg);
}

.item-trash .data-title:before,
.item-trash .data-title:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: auto;
}

.item-trash .data-title:before {
    background: #455A64;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 70px;
    top: -23px;
    height: 20px;
}

.item-trash .data-title:after {
    background: #212529;
    height: 10px;
    top: -13px;
    width: 50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.item-trash * {
    z-index: 4;
    position: relative;
}

.box-sensors>div>div {
    width: 26px;
    margin: 0 auto;
    height: 100%;
    padding: 5px 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 30px;
    align-content: flex-end;
    bottom: 0;
}

.box-sensors>div {
    display: flex;
    align-items: center;
    align-content: flex-end;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.box-sensors>div>div span {
    font-size: 18px;
}
.box-sensors>div>div span+span {
    font-size: 10px;
}

.box-sensors>div.data-sensor-1>div {
    background: #00BCD4;
}

.box-sensors>div.data-sensor-2>div {
    background: #2196F3;
}


.pro-box-sensors{
    height: 100%;
}
.bar-sub-data{
    background-color: #0097123b;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 6px;
    z-index: 2;
}
.bar-sub-data.p-yellow{
    background-color: #cebc003b;
}
.bar-sub-data.p-red{
    background-color: #b126003b;
}